<f:if condition="{0: '{app.previewImages -> f:count()}', 1: '{app.youtubeLinks -> f:count()}'} != {0: 0, 1: 0}">
	<!-- Preview Images -->
	<div class="app-lib-carousel-wrapper">
		<div id="app-lib-owl-carousel">
			<f:if condition="{app.youtubeLinks -> f:count()}">
				<f:for each="{app.youtubeLinks}" as="ytLink" iteration="iterator">
					<f:if condition="{app.lightboxEnabled}">
						<f:then>
							<div class="video preview-item"><a href="{ytLink.0}" data-item-uid="yt-{iterator.cycle}" data-type="iframe" class="fancybox-trigger app-lib-video-preview-link iframe">
								<img src="{f:uri.resource(path: 'Images/owl.video.play.png', extensionName: 'app_library')}" class="app-lib-video-preview-overlay" />
								<f:image src="uploads/tx_applibrary/ytp_{ytLink.1}.jpg" width="{f:if(condition: settings.images.preview.maxW, then: '{settings.images.preview.maxW}m', else: '600m')}" height="{f:if(condition: settings.images.preview.maxH, then: '{settings.images.preview.maxH}m', else: '250m')}" />
							</a></div>
						</f:then>
						<f:else>
							<div class="video preview-item">
								<img src="{f:uri.resource(path: 'Images/owl.video.play.png', extensionName: 'app_library')}" class="app-lib-video-preview-overlay" />
								<f:image src="uploads/tx_applibrary/ytp_{ytLink.1}.jpg" width="{f:if(condition: settings.images.preview.maxW, then: '{settings.images.preview.maxW}m', else: '600m')}" height="{f:if(condition: settings.images.preview.maxH, then: '{settings.images.preview.maxH}m', else: '250m')}" />
							</div>
						</f:else>
					</f:if>
				</f:for>
			</f:if>
			<f:if condition="{app.previewImages -> f:count()}">
				<f:for each="{app.previewImages}" as="previewImage">
					<f:if condition="{app.lightboxEnabled}">
						<f:then>
							<div class="preview-item"><a href="{previewImage.originalResource.publicUrl}" data-item-uid="img-{previewImage.uid}" class="fancybox-trigger">
								<f:image src="{previewImage.uid}" width="{f:if(condition: settings.images.preview.maxW, then: '{settings.images.preview.maxW}m', else: '600m')}" height="{f:if(condition: settings.images.preview.maxH, then: '{settings.images.preview.maxH}m', else: '250m')}" treatIdAsReference="1" />
							</a></div>
						</f:then>
						<f:else>
							<div class="preview-item">
								<f:image src="{previewImage.uid}" width="{f:if(condition: settings.images.preview.maxW, then: '{settings.images.preview.maxW}m', else: '600m')}" height="{f:if(condition: settings.images.preview.maxH, then: '{settings.images.preview.maxH}m', else: '250m')}" treatIdAsReference="1" />
							</div>
						</f:else>
					</f:if>
				</f:for>
			</f:if>
		</div>
	</div>

	<f:if condition="{app.lightboxEnabled}">
		<!-- Lightbox Gallery -->
		<div id="applib-gallery" class="hidden" aria-hidden="true">
			<f:if condition="{app.youtubeLinks -> f:count()}">
				<f:for each="{app.youtubeLinks}" as="ytLink" iteration="iterator">
					<div class="video"><a href="{ytLink.0}" id="yt-{iterator.cycle}" class="fancybox.iframe fancybox app-lib-video-preview-link" rel="applib-preview">
						<img src="{f:uri.resource(path: 'Images/owl.video.play.png', extensionName: 'app_library')}" class="app-lib-video-preview-overlay" />
						<f:image src="uploads/tx_applibrary/ytp_{ytLink.1}.jpg" width="{f:if(condition: settings.images.preview.maxW, then: '{settings.images.preview.maxW}m', else: '600m')}" height="{f:if(condition: settings.images.preview.maxH, then: '{settings.images.preview.maxH}m', else: '250m')}" />
					</a></div>
				</f:for>
			</f:if>
			<f:if condition="{app.previewImages -> f:count()}">
				<f:for each="{app.previewImages}" as="previewImage">
					<div><a href="{previewImage.originalResource.publicUrl}" id="img-{previewImage.uid}" class="fancybox" rel="applib-preview">
						<f:image src="{previewImage.uid}" width="{f:if(condition: settings.images.preview.maxW, then: '{settings.images.preview.maxW}m', else: '600m')}" height="{f:if(condition: settings.images.preview.maxH, then: '{settings.images.preview.maxH}m', else: '250m')}" treatIdAsReference="1" />
					</a></div>
				</f:for>
			</f:if>
		</div>
	</f:if>

	<div class="clearfix app-lib-spacer-vt2"></div>
</f:if>

<f:if condition="{app.description}">
	<!-- Description -->
	<div class="app-lib-app-dv-desc">
		<h2><f:translate id="views.detail.description" default="Description" /></h2>
		{app.description -> f:format.html()}
	</div>
	<div class="clearfix app-lib-spacer-vt2"></div>
</f:if>

<f:if condition="{app.features}">
	<!-- Features -->
	<div class="app-lib-app-dv-features">
		<h2><f:translate id="views.detail.features" default="Features" /></h2>
		{app.features -> f:format.html()}
	</div>
	<div class="clearfix app-lib-spacer-vt2"></div>
</f:if>

<f:if condition="{app.systemRequirements}">
	<!-- System Requirements -->
	<div class="app-lib-app-dv-sysreq">
		<h2><f:translate id="views.detail.sysReq" default="System Requirements" /></h2>
		{app.systemRequirements -> f:format.html()}
	</div>
	<div class="clearfix app-lib-spacer-vt2"></div>
</f:if>

<f:if condition="{app.faq -> f:count()}">
	<!-- System Requirements -->
	<div class="app-lib-app-dv-faq">
		<h2><f:translate id="views.detail.faq" default="FAQ" /></h2>
<!--
		<a class="expand-all" data-collapsible=".panel-collapse"><i class="fa fa-expand fa-fw fa-lg"></i> {f:translate(id: 'expandAll', default: 'Expand all')}</a>
		<a class="collapse-all" data-collapsible=".panel-collapse"><i class="fa fa-compress fa-fw fa-lg"></i> {f:translate(id: 'collapseAll', default: 'Collapse all')}</a>
-->
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<f:for each="{app.faq}" as="faq" iteration="iterator">
				<f:render partial="Faq/AccordionElement" arguments="{faq: faq, i: iterator.index}" />
			</f:for>
		</div>
	</div>
</f:if>

<!-- Download Button -->
<div class="clearfix app-lib-spacer-vt2"></div>
<f:if condition="{app.externalUrl}">
	<f:then>
		<f:link.action action="download" class="btn btn-primary btn-lg" target="_blank" arguments="{app: app}" title="{f:translate(id: 'LLL:EXT:rtehtmlarea/res/accessibilityicons/locallang.xlf:external_link_new_window_titleText')}"><i class="fa fa-external-link"></i> <f:translate id="attrTitle.download.external" default="Download from {app.provider.title}" arguments="{0: app.provider.title}" /></f:link.action>
	</f:then>
	<f:else>
		<f:if condition="{app.fileReference}">
			<f:link.action action="download" class="btn btn-primary btn-lg" target="_blank" arguments="{app: app}" title="{f:translate(id: 'attrTitle.download.internal')}"><i class="fa fa-download"></i> <f:translate id="LLL:EXT:lang/locallang_common.xlf:download" default="Download" /></f:link.action>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{app.tags -> f:count()}">
	<!-- Tag List -->
	<div class="clearfix app-lib-spacer-vt2"></div>
	<div class="app-lib-app-dv-tags">
		<h3><f:translate id="tx_applib_domain_model_app.tags" default="Tags" /></h3>
		<f:for each="{app.tags}" as="tag" iteration="iterator">
			{tag.title}<f:if condition="{iterator.isLast} == 0"> / </f:if>
		</f:for>
	</div>
</f:if>

<!-- Related/Recommended Apps and Products -->
<f:if condition="{app.products -> f:count()}">
	<div class="clearfix app-lib-spacer-vt1"></div>
	<hr />
	<div class="clearfix app-lib-spacer-vt1"></div>
	<h4><f:translate id="views.detail.compatible_products" default="Compatible with following products" /></h4>
	<div class="app-lib-detail-grids">
		<f:for each="{app.products}" as="product" iteration="iterator"><f:render partial="Misc/ProductCard" arguments="{product: product, iterator: iterator}" /></f:for>
	</div>
</f:if>

<f:if condition="{app.related -> f:count()}">
	<div class="clearfix app-lib-spacer-vt1"></div>
	<h4><f:translate id="views.detail.related_apps" default="Related Apps" /></h4>
	<div class="app-lib-detail-grids">
		<f:for each="{app.related}" as="related" iteration="iterator"><f:render partial="App/Card" arguments="{app: related, iterator: iterator}" /></f:for>
	</div>
</f:if>

<f:if condition="{app.recommended -> f:count()}">
	<div class="clearfix app-lib-spacer-vt1"></div>
	<h4><f:translate id="views.detail.recommended_apps" default="Recommended Apps" /></h4>
	<div class="app-lib-detail-grids">
		<f:for each="{app.recommended}" as="recommended" iteration="iterator"><f:render partial="App/Card" arguments="{app: recommended, iterator: iterator}" /></f:for>
	</div>
</f:if>

<div class="clearfix app-lib-spacer-vt2"></div>
<f:comment>Views: {app.views} | Downloads: {app.downloads}</f:comment>
