<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{faqs -> f:count()}">
		<hr />
		<div class="app-lib-app-dv-faq">
			<!--
					<a class="expand-all" data-collapsible=".panel-collapse"><i class="fa fa-expand fa-fw fa-lg"></i> {f:translate(id: 'expandAll', default: 'Expand all')}</a>
					<a class="collapse-all" data-collapsible=".panel-collapse"><i class="fa fa-compress fa-fw fa-lg"></i> {f:translate(id: 'collapseAll', default: 'Collapse all')}</a>
			-->
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<f:for each="{faqs}" as="faq" iteration="iterator">
					<f:render partial="Faq/AccordionElement" arguments="{faq: faq, i: iterator.index}" />
				</f:for>
			</div>
		</div>
	</f:if>
</f:section>