<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages renderMode="div" />

	<h1 class="{f:if(condition: app.featured,then: 'ft-bdg')}">{app.title}</h1>
	<hr />

	<div class="row">
		<div class="col-md-3 app-lib-detail-sidebar"><f:render partial="App/SidebarDetail" arguments="{_all}" /></div>
		<div class="col-md-9 app-lib-detail-main"><f:render partial="App/Properties" arguments="{_all}" /></div>
	</div>

	<script type="text/javascript" language="JavaScript">$(function(){function a(){$(".fancybox-trigger").on("click",function(a){index=$(this).data("item-uid"),a.preventDefault(),$("a#"+index).trigger("click")})}{var o=$("#app-lib-owl-carousel"),i=$(".app-lib-app-qv-card");$("#applib-gallery a[class*=fancybox],#applib-gallery a[rel*=fancybox]").fancybox({margin: 55})}$(".preview-item").length>1?(o.owlCarousel({autoWidth:!0,lazyLoad:!0,loop:!0,margin:10,nav:!0,video:!0}),o.on("initialized.owl.carousel",function(){a()})):a(),i.on("mouseover",function(){$(".app-lib-app-qv-card-overlay").stop(!0,!1).slideUp(100),$(this).children(".app-lib-app-qv-card-overlay").first().stop(!0,!1).slideDown(100)}),i.on("mouseout",function(){$(".app-lib-app-qv-card-overlay").stop(!0,!1).slideUp(100)})});</script>
	<f:comment>
		<script type="text/javascript" language="JavaScript">
			/*$(function () {
				var owl = $('#app-lib-owl-carousel'),
					cards = $('.app-lib-app-qv-card'),
					fancybox = $('#applib-gallery a[class*=fancybox],#applib-gallery a[rel*=fancybox]').fancybox();

				if ( $('.preview-item').length > 1 ) {
					owl.owlCarousel({autoWidth: true, lazyLoad: true, loop: true, margin: 10, nav: true, video: true});
					owl.on('initialized.owl.carousel', function() {
						loadFancybox();
					});
				} else {
					loadFancybox();
				}

				function loadFancybox() {
					$('.fancybox-trigger').on('click', function(e) {
						index = $(this).data('item-uid');
						e.preventDefault();
						$("a#" + index).trigger('click');
					});
				}

				cards.on('mouseover', function() {
					$('.app-lib-app-qv-card-overlay').stop(true, false).slideUp(100);
					$(this).children('.app-lib-app-qv-card-overlay').first().stop(true, false).slideDown(100);
				});
				cards.on('mouseout', function() {
					$('.app-lib-app-qv-card-overlay').stop(true, false).slideUp(100);
				});
			});*/
		</script>
	</f:comment>

</f:section>
