.app-lib .align-center { text-align: center; }
.app-lib .align-justify { text-align: justify; }
.app-lib .align-right { text-align: right; }

.app-lib .add-padding-5 { padding: 5px; }
.app-lib .add-padding-10 { padding: 10px; }
.app-lib .add-padding-15 { padding: 15px; }

.app-lib .btn {
	text-align: left;
	white-space: normal;
}

.app-lib h1.app-lib-grid-title,
.app-lib h2.app-lib-grid-title,
.app-lib h3.app-lib-grid-title,
.app-lib h4.app-lib-grid-title,
.app-lib h5.app-lib-grid-title,
.app-lib h6.app-lib-grid-title {
	margin-top: 0;
}

.app-lib-spacer-vt1, .app-lib-spacer-vt2 {
	clear: both;
	float: none;
	height: 1em;
}

.app-lib-spacer-vt2 {
	height: 2em;
}

.app-lib-app-qv-card {
	background: #fff;
	float: left;
	margin: 0 1em 1em 0;
	overflow: hidden;
	padding: 0 0 1em 0;
	position: relative;
	width: 110px;
}

.app-lib-app-qv-card .app-lib-app-qv-featured-badge {
	background: transparent url("../Images/ftbdgb.png") 0 0 no-repeat scroll;
	height: 80px;
	position: absolute;
	width: 80px;
	z-index: 10;
}

.app-lib-app-qv-card .paragraph-end {
	background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1)) repeat scroll 0 0 transparent;
	bottom: -10%;
	display: none;
	height: 2em;
	max-height: 110%;
	position: absolute;
	right: 0;
	width: 60px;
}

.app-lib-app-qv-card-overlay {
	background-color: #0083cb;
	color: #fff;
	display: none;
	height: 100%;
	left: 0;
	padding: 1em;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}

.app-lib-app-qv-card-overlay.even {
	background-color: #ffcb31;
	color: #231f20
}

.app-lib-app-qv-card-overlay small {
	font-size: 80%;
	line-height: 1;
}

.app-lib-app-qv-card a:first-child,
.app-lib-app-qv-card-overlay a:first-child {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.app-lib-app-qv-card:hover .paragraph-end {
	display: none;
}

.app-lib-app-qv-cover {
	height: 110px;
	width: 110px;
}

.app-lib-app-qv-cover-outer-align {
	display: table;
	height: 100%;
	width: 100%;
}

.app-lib-app-qv-cover-inner-align {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item {
	width: 23.5%;
	margin: 0.5%;
}

.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item .app-lib-app-qv-cover {
	width: auto;
}

.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item:nth-child(4n+1) {
	clear: left;
}

.app-lib-app-qv-details {
	margin: auto;
	overflow: hidden;
	text-align: center;
	width: 110px;
}

.app-lib-app-qv-details h5, .app-lib-app-qv-subtitle-container {
	color: #393f43;
	display: inline-block;
	height: 1.5em;
	margin: 0;
	position: relative;
	white-space: nowrap;
	width: 100%;
}

#app-lib-searchbox .parsley-errors-list.filled {
	position: absolute;
	top: 100%;
}

.app-lib-score {
	font-size: 3em;
}

.app-lib-tiny-star.app-lib-star-rating-non-editable-container {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQVQoz2P4//8/AzmYgWKN6KC4uFgYhGF8UjTqgjBJGqG2GUOxMF6NQAViQCwFxGpAbICk0QAqBpITw6ZRAUkxLqyA1akENCvg9SNQgRYWTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC") repeat scroll 0 0 transparent;
	height: 14px;
	width: 70px;
}

.app-lib-tiny-star .app-lib-current-rating {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQVQoz2P4//8/AzmYgWKN6KC4uDgBhGF8UjQ+AGGSNEJt+w/FCXg1AhUUAHEDEB8A4g9IGj9AxUByBdg0LkBSjAsvwOpUApoX4PUjUMEFLJouEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=") repeat scroll left bottom transparent;
	height: 14px;
}

.app-lib-small-star.app-lib-star-rating-non-editable-container {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAsElEQVQoz+2SsQqAIBCGhaCtSWhwFRqCg6BH8/0xjTNEyu683Aq+pbz/M3+V9171RP0CtqD2OOd0pLZGKoBIFwHufkd0DwFkAvhUEAKnLDwxNQnC4IiBc8AElmL311/gN4Nr48xIEaw3YVRWimBolMSZgdRBg+QMZ5XMkFzh7Fv0cHuqt4kr0ASBlggMQWAkAluELUj+zkoEqWTIzxq7gVSyRLCVZ3zT0cYSfM0veOUA7SaWETdHTzIAAAAASUVORK5CYII=") repeat scroll 0 0 transparent;
	height: 24px;
	width: 120px;
}

.app-lib-small-star .app-lib-current-rating {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAtElEQVQoz+2S0Q2AIAwFGYERHMVRGMGEBRjJERzBETqCGyCYQghRbKn8aXI/St8hD+W9VyNRv4AtaD3WWhNprZEKIDJEgLv3iBkhgEIAnwpC4FyEJ+YuQRicMHAJuMBW7T7/BX5zuDbOTBTBfhNGZacIdKckzmhSBx2SK5xVMkOSw9m36OH2NG8TV2AIAiMROILASQRrFbYh5btVIkglQ3nW2A2kkiWCoz7jm44OluBrfsErJ8j79BUPTQO5AAAAAElFTkSuQmCC") repeat scroll left bottom transparent;
	height: 24px;
}


.app-lib-detail-sidebar {
	font-size: .8em;
}

.app-lib-app-dv-desc h3:first-child {
	margin-top: 0;
}


form input.parsley-error, form textarea.parsley-error, form .parsley-error {
	border: 1px solid #e04343;
	box-shadow: 0 0 2px rgba(250, 0, 0, 0.3);
}

.parsley-errors-list.filled {
	background: #ffb7b7 none repeat scroll 0 0;
	border: 1px solid #e04343;
	color: #d03434;
	list-style: outside none none;
	padding: 3px;
}

.app-lib-video-preview-link {
	position: relative;
	display: block;
}

.app-lib-video-preview-overlay {
	bottom: 0;
	display: block;
	height: 80px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px !important;
	z-index: 1;
}

.app-lib-owl-nav {
	cursor: pointer;
	display: block;
	float: left;
	height: 250px;
	margin: 0 1em 0 0;
	position: relative;
	width: 1em;
	z-index: 10;
}

.app-lib-owl-nav:hover > i {
	font-weight: bold;
}

.app-lib-owl-nav > i {
	bottom: 0;
	display: block;
	height: 0.75em;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 1em;
}

.app-lib-owl-nav-nxt {
	float: right;
	margin: 0 0 0 1em;
}

.app-lib-app-dv-faq-date {
	display: inline-block;
	float: right;
	font-size: 80%;
}

.app-lib-app-dv-faq-data {
	font-size: 75%;
}

.panel-title > a {
	display: block;
}

.applib-tagcloud {
	width: 200px;
	text-align: center;
}

.app-lib-app-dsb-os-card {
	float: left;
	font-size: 8pt;
	margin: 5px 5px 5px 0;
	text-align: center;
}

ul.app-lib-filter-options li {
	cursor: pointer;
}

ul.app-lib-filter-options li.active {
	cursor: default;
}

.app-lib-carousel-wrapper {
	background: #fff;
	border: 1px solid #ccc;
	padding: 1em;
}

/**
 * Responsive styles
 */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.app-lib-app-qv-card {
		border: 1px solid #d5d6da;
		width: 160px;
	}

	.app-lib-app-qv-card .paragraph-end {
		display: initial;
	}

	.app-lib-app-qv-cover {
		height: 160px;
		width: 160px;
	}

	.app-lib-app-qv-details {
		width: 120px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

/** Visible Small and Down **/
@media  (max-width: 991px) {
	.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item {
		width: 18.5%;
		margin: 0.5%;
	}
	.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item:nth-child(4n+1) {
		clear: unset;
	}
	.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item:nth-child(5n+1) {
		clear: left;
	}
}

/** Visible XtraSmall and down */
@media  (max-width: 767px) {
	.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item {
		width: 47%;
		margin: 1%;
	}
	.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item:nth-child(5n+1) {
		clear: unset;
	}
	.app-lib-detail-grids .app-lib-app-qv-card.app-lib-grid-item:nth-child(2n+1) {
		clear: left;
	}
}