
<table class="tx-app-library" >
	<tr>
		<td>
			<f:translate id="tx_applib_domain_model_faq.title" />
		</td>
		<td>
		{faq.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_applib_domain_model_faq.answer" />
		</td>
		<td>
		{faq.answer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_applib_domain_model_faq.date" />
		</td>
		<td>
		{faq.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_applib_domain_model_faq.inquirer" />
		</td>
		<td>
		{faq.inquirer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate id="tx_applib_domain_model_faq.responder" />
		</td>
		<td>
		{faq.responder}
		</td>
	</tr>
</table>